<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <title>edit customer</title>



</head>

<body>
    <br>
    <div class="text-center">

        <h1>EDIT CUSTOMER</h1>
        <a href="/">Back to Home</a>
        <br>
        <br>

        <div class="text-center">
            <center>
                <table class="table text-center" style="width: 800px">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>

                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Email</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">ACTION</th>



                        </tr>
                    </thead>

                    <tbody>
                        <%for(let key in data){%>
                            </td>

                            <tr>
                                <td>
                                    <%=data[key].id %>
                                </td>

                                <td>
                                    <%=data[key].name %>
                                </td>
                                <td>
                                    <%=data[key].phone %>
                                </td>
                                <td>
                                    <%=data[key].address%>
                                </td>
                                <td>
                                    <%=data[key].email%>
                                </td>
                                <td>
                                    <%=data[key].username%>
                                </td>
                                <td>
                                    <%=data[key].role%>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-success"><a
                                            href="/users/admin/edit-customer/<%=data[key].id%>">Edit</a> </button>
                                        <button type="button" class="btn btn-outline-danger"><a
                                            href="/users/admin/edit-customer/delete/<%=data[key].id%>">Delete</a>
                                    </button>

                                    </div>


                                </td>


                            </tr>
                    </tbody>



                    <%}%>

                </table>

            </center>


        </div>






    </div>




</body>

</html>